 body {        
        color: white;
        background-color: #1b1254;
        font-size: 14px;
}    

.navbar-default {
background-image: none;
background-color: #0e0301;
border-color: #883434;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
color: black;
}

.jumbotron {
    text-align:center;
    background-color: #88e48f;
    color: black;
}

.panel-default {
border-color: #58034b;
background-color:#58034b;
}

.panel-default>.panel-heading {
background-image: none; 
color: white;
background-color: #58034b;
border-color: #181918;
} 

.panel {    
background-color: #58034b;
}

table {
background-color: #ddd;
color: #080808;
border-color: #080808;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #0a0a0a;
}

.form-control {
border-radius: 4px;    
font-size: 16px;
color: black;
background-color: #ccc;
/*box-shadow: inset 0 1px 1px rgba(0,0,0,.75);*/

}

.help-block {
color: black;
font-size: 16px;
}

label {
color:black;
}

.box {
position: relative;
border-radius: 3px;
background: #716d8c;
border-top: 3px solid #d2d6de;
margin-bottom: 20px;
width: 100%;
border: 1px solid black;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header {
color: #080808;
display: block;
padding: 10px;
position: relative;
}

.alert-warning {
color: white;
background-image: none;
background-color: #f0ad4e;
font-size:16px;

}

.alert-info {
color: white;
background-image: none;
background-color: #413c9e;
font-size:16px;

}

.alert-success {
color: white;
background-image: none;
background-color: #37b106;
font-size:16px;

}

.alert-error {
color: white;
background-image: none;
background-color: #ef4e28;
font-size:16px;

}

li {
color:black;

}