<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Category of Aggregation - Hold down ctrl botton on the keyboard to select multiple entries at a go</label>
      <select class="form-control select2" multiple="multiple" id ="coas" placeholder= "select Category(ies) of Aggregation" style="width: 100%">
      </select>
    </div>
    <!-- /.form-group -->
  </div>
  <!-- /.col -->
</div>
<div class="row">                
  <div class="col-md-12">
    <div class="form-group">
      <label>Variable - Hold down ctrl botton on the keyboard to select multiple entries at a go</label>
      <select class="form-control select2" multiple="multiple" id = "vars" placeholder= "Select variable(s)" style="width: 100%">
      </select>
    </div>
    <!-- /.form-group -->
  </div>
  <!-- /.col -->                
</div>