{% extends "base.html" %}
crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Delete Data" %}{% endblock %}

{% block content %}
<div class ='row'>
<div class= 'col-sm-6 col-sm-offset-3'> 
<h1>{% trans "Delete Data" %}</h1>

<p>{% trans 'Are you sure you want to delete this data request?' %}</p>

<form method="post" action="{% url 'sales_data_delete' pk=pk %}?next={{request.path}}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class = "btn btn-warning" >{% trans 'Delete' %}</button>
  <a class="btn btn-primary" href="{% url 'sales' %}" >{% trans 'No' %}</a>
</form>
</div>
</div>

{% endblock %}
