<script>
/*$(document).ready(function(){
  $('#table').change(function(event){
    var pk = "this.options[this.selectedIndex].value";
    var url =  "{% url 'sales_table' %}";
    $('#level_freq').load(url, {'pk':pk })    
    });  
});*/

/*$(document).ready(function(){

  $('#table').change(function(){ 
    var pk;
    pk = $(this.option:selected).attr('value')   
    $.get('pk', function(data){
        $('.level_freq').html(data);
        }); 

    });  
});*/
/*function populateOptions(pk){
  var url = "{% url 'sales_table' %}";
  console.log("ok")
  console.log(url)
  console.log(pk)
  $("#level_freq").load(url, {contentVar: pk});
  }
*/