<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Period</h3>
  </div>
  <div class="box-body">
    <!-- Daily and Weekly Date range -->
    <div class="row">  
      <div class="col-md-12">
        <div class="form-group">
          <label>Select the applicable year(s) - Hold down ctrl botton on the keyboard to select multiple years at a go</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <select class="form-control select2" multiple="multiple" id = "yrs" style="width: 100%">
            </select>
          </div>
          <!-- /.input group -->
        </div>
        <!-- /.form group -->
      </div>
      <!-- /.col group -->
      
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label>DO you have additional instruction/comment?</label>
            <textarea class="form-control" rows="3" placeholder="Enter your comment..."></textarea>
        </div>
      </div>
      <!-- /.col -->
    </div>
</div>
<!-- /.box-body -->